<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
		常见的选择器：
		*  通配符，代表选中所有的标签
		标签选择器
		class选择器
		id选择器
		属性选择器【一般情况下与标签选择器一起连用】  input[属性="属性值"]
		包含选择器 【必须要有的包含的关系】 ul li
		父子选择器  【只选中当前标签的下一级】ul>li
		群组选择器
		伪类选择器  :hover  鼠标经过事件
		
		选择器的权重：
		<div style="height: 30px;"></div>
		内联样式的权重最高 1000
		id选择器   100
		class 选择器 10
		伪类选择器  10
		属性选择器 10
		标签选择器  1
		*通配符  0
		继承来的属性权重最低
		群组选择器等于各自自己本身
		包含选择器的权重：等于选择器相加之和
		
		当我们的样式的属性出现重复的时候，优先选择权重高的。
		若权重相同，属性出现出现重复，后写的会将前面的覆盖掉。
		
		<p> <span>1111</span></p>
		<style type="text/css">
			p span{
				color: green;
			}
			
			span{
				color: red;
			}
		
		</style>
		
	</body>
</html>
